#!/usr/bin/env xdg-open
[Desktop Entry]
Version=1.0
Terminal=false
Type=Application
Name=Knowledge Hub - part 1 - The Future O...
Exec=/opt/brave.com/brave/brave-browser --profile-directory=Default --app-id=jbhbbdaifnffcgolfmonalidkccakdgg
Icon=brave-jbhbbdaifnffcgolfmonalidkccakdgg-Default
StartupWMClass=crx_jbhbbdaifnffcgolfmonalidkccakdgg
